*
!.gitignore

!private/
!private/**

!public/
!public/**

!public/img/
!public/img/**

!menu/
!menu/**

!admission/
!admission/**

!import/
!import/**

!templates/
!templates/**

!backups/
!backups/**
